/*from: "https://github.com/rsuite/rsuite/blob/95a673b8fcc828d439a0989861ee8dc13ce641e8/examples/create-react-app/src/index.css"*/

@import 'rsuite/TagPicker/styles/index.css';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
